.nav-link{
  font-size:30px;
  color:rgb(139, 189, 234);
}
.nav-link:hover {
  background-color: rgb(213, 197, 176);
  color:rgb(96, 82, 108)
}

.CompanyName{
font-size: 40px;
}

.navbar-brand {
  font-size: 30px;
}

.nav-link{
  font-size:30px;
  color:rgb(139, 189, 234);
}
.nav-link:hover {
  background-color: rgb(213, 197, 176);
  color:rgb(96, 82, 108)
}

.nav-link{
  font-size:30px;
  color:rgb(139, 189, 234);
}
.nav-link:hover {
  background-color: rgb(213, 197, 176);
  color:rgb(96, 82, 108)
}

.navbar-brand {
  font-size: 40px;
}