.card {
  width: 70%;
  padding: auto;
  margin: auto;
  align-self: center;
}

.card-body {
  align-items: center;
  justify-content: center;
}

.card-title {
  align-items: center;
  justify-content: center;
  display: flex;
}

#currentimage {
    height: 100px;
    width: 100px;
}