body {
  background-color: rgb(250, 237, 237);
  margin: 0;
  min-width: 1200px;
  overflow-x: auto;
  min-height:350px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  height: 900px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.sidebar, .payment, .paginationbuttons {
  align-self: flex-start;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  background-color: rgb(78, 78, 141);
}

.sidebar {
  background-color: rgb(106, 77, 159);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
  height: 300px;
  width: 200px;
}


/* Add this style to your existing styles */
.card {
  width: 400px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 8px;
  margin-left: 10px; 
  margin-right:10px;
  margin-top:10px;
  margin-bottom:15px;
}

.pagination {
  background-color: rgb(220, 171, 220);
  padding-bottom:2px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-behavior: smooth;
}

.pagination > div {
  margin-top: 0; 
}

.wishlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 360px;
  width: 310px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 8px;
  border: 2px solid rgb(216, 216, 216);
}

.wishlistcontent {
  font-size: 27px;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom:25px;
  text-decoration: underline;
}

#listOfItemSelected {
  overflow-y: auto;
  margin-right: 20px;
  margin-left: 20px;
  min-height: 180px;
  border-color: black;
  margin-bottom:20px;
  background-color: ghostwhite;
}

.totalamount {
  font-size: 20x;
  margin-bottom: 30px;
  margin-left: 20px;

}

.button {
  width: 90px;
  height:25px;
  margin-top: 160px;
  margin-left:7px;
}

.incrementbutton {
  width:30px;
  height:20px;
  border-radius:20px;
  margin-right: 25px;
  background-color: aquamarine;
}
.decrementbutton {
  width:30px;
  height:20px;
  border-radius:20px;
  background-color: rgb(230, 167, 167);
}


.sidebar a {
  padding: 8px;
  padding-left:20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  padding-left: 20px; /* Adjust the value based on how much you want to move the text to the right */
}

.sidebar a:hover {
  background-color: #c1b7b7;
  padding-left: 30px; 
  padding-bottom:10px;
  border-radius: 8px;
}


#confirmOrder {
  width: 130px;
  height: 29px;
  margin-left: 27%;
  margin-bottom: 10px;
  background-color: rgb(211, 199, 235);
  border-radius: 20px;
}
#confirmOrder:hover {
  background-color: rgb(145, 116, 206);
}

.bottompart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: rgb(78, 78, 141);
}

.map {
  margin-top: 50px;
  margin-right: 1000p;
}