/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  margin: 0 auto;
}


/* Navigation Bar Styles */
nav {
  background-color: #343a40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-toggler {
  border: none;
  outline: none;
  color: #fff;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ff3366;
}

/* Form Styles */
h2 {
  color: #343a40;
  text-align: center;
  padding: 20px 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #343a40;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #495057;
}

input[type="submit"] {
  background-color: #ff3366;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #e02958;
}